@import "https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css";

.bg-super-white { background: #f9f9f9; }
.top-50 { top: 50% }
.link:hover { background: url(/images/line.png) repeat-x left bottom; }

p {
  margin-top: 18px;
  margin-bottom: 23px;
}

.lh-copy {
    line-height: 1.7;
}
.toc-body{
    padding-left: 0px;
    position: relative;
    margin-left: 0px; 

    border-bottom-color:rgb(204, 204, 204);
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-style:dotted;
    border-bottom-width:1px;
    border-top-color:rgb(48, 48, 48);
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-top-style:none;
    border-top-width:0px;
}
.toc-item {
    display: block;
    color: rgb(65, 131, 196);
    orphans: 4;
    font-size: 0.9rem;
    word-break: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    text-decoration-color:rgb(34, 102, 153); 
    text-decoration-style:solid;
    text-decoration-line: none; 
}
.toc-item a:hover{
    text-decoration-color:rgb(34, 102, 153);
    text-decoration-style:solid;
    text-decoration: underline; 
}

/*用于header的黑白框*/
/*#titile-first-part {
    padding: 0.3em 0.2em 0.1em 0.2em;
    border: 1px solid #333;
    color: #333;
    background-color: white;
}
#titile-last-part {
    padding: 0.3em 0.2em 0.1em 0.2em;
    border: 1px solid #333;
    color: white;
    background-color: #333;
}

.header-header {
    font-family: "Cutive Mono", monospace;
    font-size: 3em;
    text-align: center;
    padding: 0.7em 0 0.3em;
}*/

/* Markdown styles */
.markdown-body a {
  text-decoration: none;
  /*使用stormzhang的相同链接配色*/
  color: #428bca;
}
.markdown-body .highlighter-rouge {
  padding: .25rem .5rem;
}
.markdown-body pre {
  margin: 0;
  overflow: auto;
}
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #CCC;
}
.markdown-body blockquote {
  background: #f9f9f9;
  border-left: .2rem solid #ccc;
  padding-left: 3.8rem;
}
/* end Markdown styles */
